################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PreStorm/.vs/PreStorm/v16
/PreStorm/PreStorm/obj
/PreStorm/PreStorm/bin
